*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container
{
   
    margin: 0 auto;
}
.bg-image
{
    background-image: url('/images/form_bg.jpg') ;
}

/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

